<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <!--<div class="container-fluid">-->
  <!-- <a class="navbar-brand" href="#">COMP229</a> -->
  <a class="navbar-brand" id="logo" href="/home">
    <img src="Assets/images/logo_new.svg" alt="PC" height="60">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="col-11 navbar-nav ml-auto">
      <% if(title=="Home" ){%>
        <li class="nav-item active">
          <%}else{%>
        <li class="nav-item">
          <%}%>
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <% if(title=="Home" ){%>
          <li class="nav-item active">
            <%}else{%>
          <li class="nav-item">
            <%}%>
              <a class="nav-link active" aria-current="page" href="/about">About</a>
          </li>
          <% if(title=="Home" ){%>
            <li class="nav-item active">
              <%}else{%>
            <li class="nav-item">
              <%}%>
                <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
            </li>
            <% if(title=="Home" ){%>
              <li class="nav-item active">
                <%}else{%>
              <li class="nav-item">
                <%}%>
                  <a class="nav-link active" aria-current="page" href="/services">Services</a>
              </li>
              <% if(title=="Home" ){%>
                <li class="nav-item active">
                  <%}else{%>
                <li class="nav-item">
                  <%}%>
                    <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
                </li>

    </ul>


    <div class="col-1">
      <%if(typeof username=='string' && username){%>
        <a class="nav-link active color-white" aria-current="page" href="/logout"><i class="fas fa-lg fa-sign-out-alt"></i>Logout</a>
        <%} else {%>
          <a class="nav-link active color-white" aria-current="page" href="/login"><i class="fas fa-lg fa-sign-in-alt"></i>Login</a>
          <%}%>
    </div>
    <!--</div>-->
  </div>
</nav>
<div class="text-white">
  <hr class="solid-line margin0">
</div>