<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>
        <!--Main Nav Navigation-->
        <main class="main-screen">
            <div>
                <div class="d-flex align-items-center h-100">
                    <div class="container text-center">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 class="text-white">Welcome!!</h1>
                        <p class="font-italics text-white "> I, Pravalika Chada, am currently enrolled in an advanced
                            artificial intelligence diploma programme at Centennial College.
                            My portfolio serves as a platform to demonstrate my versatility and problem-solving
                            abilities, as well as my commitment to delivering high-quality work that exceeds
                            expectations. I aim to connect with like-minded individuals and organizations, and to
                            collaborate on meaningful projects that have a positive impact on society. Through my
                            portfolio, I hope to inspire others to pursue their own passions and to never stop learning
                            and exploring.
                            <br />

                            <a href="/about" class="btn btn-light" role="button">About ME > </a>
                    </div>
                </div>
            </div>
        </main>

        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>